

/* .jumbotron{
    max-width: 960px;
} */

body{
    padding-top: 15%;
    background-image: url(../images/green_cup.png);
}
/* #portfolio, #contact{
border-left-style: solid;
border-left-color: #dddddd
} */